NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB0BCvakC63q6bbfTU3hdInUFcqQ3xToWM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=cubixaius.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=cubixaius
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=cubixaius.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=568978853193
NEXT_PUBLIC_FIREBASE_APP_ID=1:568978853193:web:1cb348de3e2fd4f2ea1e98
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-Y2CSX6494Q